<!doctype html>
<html lang="en">
<head>
    <title>SICRAG</title>
</head>
<body>
    <h1>SICRAG</h1>
    <form method="POST" action="/rag_post">

        <label for="dept">Dept:</label>
        <input type="text" id="dept" name="dept" required>


        <label for="query_term">Query:</label>
        <input type="text" id="query_term" name="query_term" required>
        <button type="submit">検索</button>
    </form>
    
    <hr>

    {% if data %}
    <div class="container">
        
        <h3>{{ data.query }}</h3>
        <br><br>
        <p> 1 {{data.first_document}} = {{data.first_document_distance}}</p>
        <p> 2 {{data.second_document}} = {{data.second_document_distance}}</p>
        <p> 3 {{data.third_document}} = {{data.third_document_distance}}</p>
        
    </div>
    
    {% endif %}

</body>
</html>
